
.bg-cream {
    background-color: #cec0c0;
}

.text-fonted {
    font-family: 'Libre Baskerville', serif;

}


body {
    margin: 0;
    background-color: #cec0c0;
}

:root {
    background-color: #cec0c0;
}

.services {
    width: 95%;
}

.divider {
    font-size: 3em;
}


.topnav-logo {
    width: 20%;
    scale: 2;
    
}

.main-title {
    font-size: 2em;
    font-family: 'Libre Baskerville', serif;
   
}

.phone {
    font-size: 3em;
}

.email {
    font-size: 4em;
}

.spacer {
    height: 30vh;
    background-color: #cec0c0;
}

.splash {
    background-image: url('../assets/splash/splash.jpg');
    background-size: cover;
    height: 90vh;
}

@media (max-width: 500px) {

}

@media (min-width: 500px) {
    .caro {
        width: 50%;
    }

    .family {
        width: 50%;
    }

    .about {
        width: 50%;
    }
}